@import '../../global.scss';

.mFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90px;
  align-items: center;

  .social {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }
  .inspiration {
    font-size: 13px;
    margin-top: 10px;

    span {
      color: $midColor;
    }
  }
}
