@import '../../global.scss';

.intro {
  width: 50%;
  max-height: 100vh;
  padding: 0 7vw;
  box-sizing: border-box;
  color: $lightColor;
  display: flex;
  flex-direction: column;

  @include mobile {
    display: none;
  }

  .span {
    font-size: 3.5vw;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }
  p {
    line-height: 2.2;
    font-size: 1.2vw;

    span {
      color: $midColor;
    }
  }
  .home-nav {
    margin-top: 60px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;

    .rule {
      color: $midColor;
      display: inline-block;
      margin-bottom: 25px;
      font-size: 1vw;
      &:hover {
        color: $lightColor;
        cursor: pointer;

        span {
          width: 70px;
        }
      }
      span {
        width: 35px;
        display: inline-block;
        background-color: $midColor;
        height: 1px;
        position: relative;
        margin: 0 7px;
        top: -6px;
        transition: all 0.3s;
        left: 0;
      }
      &.active {
        color: $lightColor;

        span {
          width: 70px;
          background-color: $lightColor;
        }
      }
    }
  }
  .social {
    margin-top: 50px;
    margin-bottom: 30px;
    .s-icons {
      margin-right: 50px;

      span {
        margin-left: 3px;
      }
    }
  }
}
