@import './global.scss';

.app {
  width: 100%;
  background-color: #101011;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;

  @include mobile {
    padding-top: 20px;
  }
}
