@import '../../global.scss';

.slider {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: fixed;
  bottom: 0;
  background-color: #101011;

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    align-items: center;
    list-style: none;
    font-size: 23px;
    color: $midColor;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85px;

    .text {
      font-size: 21px;
      font-weight: 500;
    }
    .icons {
      display: flex;
      justify-content: space-between;
      width: 100px;
      color: $midColor;
    }
  }
  &.active {
    display: flex;
    opacity: 1;
  }
}
